
body #app .calc-header {
  margin-top: 0 !important;
  margin-bottom: 0;
  font-size: calc(30px + (22 - 14) * ((100vw - 300px) / (1700 - 600)));
  color: white;
  font-weight: lighter;
}
body #app .calc-description {
  margin-top: 0 !important;
  margin-bottom: 0;
  font-size: calc(13px + (17 - 13) * ((100vw - 300px) / (1600 - 300)));
  color: white;
  font-weight: lighter;
}

.btn-primary {
    cursor: pointer;
    width: 100%;
}

.react-datepicker-wrapper {
    display: unset;
}

.react-datepicker__input-container {
    position: relative;
    display: unset;
}

.job-info-buttons {
  margin-top: 3% !important;
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.job-info-buttons .btn {
  width: 100% !important;
}

#app .job-info label {
  color: white !important;
  font-size: 2rem !important;
}

.pushable div.ui.container.calc-form {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 35px;
}

::placeholder {
  color: #495057 !important;
}
html body #app div div div div.calc-form div.row {

  margin-bottom: 5px;
  width: auto !important;
}
html body #app div div div div div div div form div.row div.col{
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 3px;

}
input {
  margin: 0 !important;
  border-radius: 0.25rem !important;
}

@media only screen and (max-width: 767px){
  .ui.container {
      width: auto!important;
      margin-left: 5px!important;
      margin-right: 5px!important;
  }
  .result-header{
    font-size: 23px;
  }
  .form-container.container.row{
    margin-left: 0px !important;
    margin-right: 0px !important;
  }
  .result-description{
    font-size: 14px;
  }
}

@media (min-width: 768px){
  .job-info {
      max-width: 720px !important;
  }
  .container {
    max-width: 720px !important;

  }
}

.result-row{
  margin-left: 0px !important;
  margin-right: 0px !important;
}
.job-info{
  padding-right: 0px !important;
  padding-left: 0px !important;
}
