
body #app .calc-header {
  margin-top: 0 !important;
  margin-bottom: 0
}

body #app .calc-description {
  margin-top: 0 !important;
}

.btn-primary {
    cursor: pointer;
    width: 100%;
}

.form-group.col-md-4 input {
  border-radius: 4px !important;
  margin-bottom: 0 !important;
}

.react-datepicker-wrapper {
    display: unset;
}

.react-datepicker__input-container {
    position: relative;
    display: unset;
}

.job-info-buttons {
  margin-top: 3% !important;
}

.job-info-buttons .btn {
  width: 100% !important;
}

#app .job-info label {
  color: white !important;
  font-size: 2rem !important;
}

.pushable div.ui.container.calc-form {
  width: 90% !important;
  margin-left: auto !important;
  margin-right: auto !important;
  margin-bottom: 35px;
}

::placeholder {
  color: #495057 !important;
}
body #app div .container div .row {
  margin-left: 0 !important;
  margin-right: 0 !important;
}
