body {
  font-size: 12px !important;
}

.ui.secondary.inverted.pointing.menu {
  border: none !important;
}
.ui.secondary.pointing.menu .item {
   padding: 0 1rem !important;
}
.ui.large.top.fixed.menu .item {
   padding: 0.5em 1rem !important;
}

.ui.menu>.container {
  display: inline !important;
}

.ui.menu .item:before {
    background: none !important
}

.ui.segment {
  border-radius: 0px !important;
}

.reveal-inline-block {
    display: inline-block !important;
}

.contact-info p + p {
    margin-left: 68px;
}

.fa-phone {
  margin-right: 5px;
}
.four.wide.column {
  text-align: center;
}

.ui.grid span{
  margin-top: 18px;
}

.navbar-light .navbar-toggler {
  color: #fff !important;
  border-color: #fff !important;
}
.navbar-toggler:not(:disabled):not(.disabled) {
    cursor: pointer;
    background-color: white;
    opacity: 0.6;
  }
  .ui.header:first-child {
    margin-top: 1em !important;
  }
.navig-bar {
  background: transparent !important;
  padding-top: 0px !important;
}
.navbar {
  padding: 0 0 !important;
}
.navbar-brand {
  margin-right: 0 !important;
}
